<div class="mt-4">
    <h3>Update purchase</h3>
    <form method="POST" action="/purchases/{{purchases._id}}?_method=PUT">
        <div class="form-group">
             <label for="name">Name Item</label>
            <input type="text" class="form-control" value="{{purchases.name}}"  id="name" name="name">
        </div>
        <div class="form-group">
            <label for="description">Description</label>
            <textarea type="text" class="form-control" id="description" name="description">{{purchases.description}}</textarea>
        </div>
        <div class="form-group">
            <label for="videoId">Video ID</label>
            <input type="text" class="form-control" value="{{purchases.videoID}}" id="videoId" name="videoId">
        </div>
        <button type="submit" class="btn btn-primary">Save</button>
    </form>
</div>