.wrapper {
    height: 92px;
    width: 100%;
    box-shadow: 0px 1px 1px rgb(0 0 0 / 12%);
    z-index: 10;
}
.inner {
    height: 92px;
    width: 100%;
    color: #000000;
    display: flex;
    justify-content: center;
    padding-top: 25px;
}
.inner a {
    text-decoration: none;
    color: #000000;
    
}
