.wrapper{
    
}

.contain {
    background-color: rgb(162, 56, 56);
    display: flex;
    justify-content: space-between;
    align-items: stretch;
}


.contain-left{
    background-color: rgb(96, 221, 179);
}
.contain-right{
    background-color: aqua;
}
.contain-middle{
    background-color: rgb(10, 227, 155);
}