.wrapper {
    width: 1440px;
    height: 2000px;
    display: flex;
    align-items: center;
    
}
.top {
    width: 1440px;
    height: 145px;
    background-color: aqua;
}
.body {
  
    width: 1140px;
    height: 1000px;
    background-color: rgb(85, 225, 143);
}


// }
// .contain {
//     background-color: rgb(162, 56, 56);
//     display: flex;
//     justify-content: space-between;
//     align-items: stretch;
// }


// .contain-left{
//     background-color: rgb(96, 221, 179);
// }
// .contain-right{
//     background-color: aqua;
// }
// .contain-middle{
//     background-color: rgb(10, 227, 155);
// }
