.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    width: 1170px;
    height: 760px;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-between;
    align-items: stretch;
}


.contain-left{
    background-color: rgb(96, 221, 179);
}
.contain-right{
    background-color: aqua;
}
.contain-middle{
    margin: 0 370px; 
    background-color: rgb(10, 227, 155);
}
.contain-left, .contain-right {
    flex: 0 0 345px;
}

.contain-middle {
    flex: 1; 
    margin: 0 20px; 
}